<div class="register-container">
  <div class="content">
    <section>
      <img src={{logo}} alt="Be The Hero" />

      <h1> Cadastro</h1>
      <p>
        Faça seu Cadastro, entre na plataforma e ajude pessoas a encontrarem os casos da sua ONG. </p>

    </section>
    <form>
      <input placeholder="Nome da ONG" />
      <input type="email" placeholder="E-mail" />


      <input placeholder="WhatsApp" />

      <div class="input-group">
        <input placeholder="Cidade" />

        <input placeholder="UF" />
      </div>

      <button class="button" type="submit"> Cadastrar </button>
      <a routerLink="/login">Voltar</a>

    </form>
  </div>
</div>
